<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-left-panel content="leftnav" columnwidth="2" name="left_panel1"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" title="Title" backbuttoniconclass="fa fa-chevron-left" leftnavpaneliconclass="fa fa-bars">
        <wm-button class="btn-transparent" caption="" type="button" name="AddButton" iconclass="glyphicon glyphicon-plus"></wm-button>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-accordion name="accordion1">
                <wm-accordionpane name="accordionpane1">
                    <wm-accordionheader name="accordionheader1"></wm-accordionheader>
                    <wm-accordioncontent name="accordioncontent1"></wm-accordioncontent>
                </wm-accordionpane>
                <wm-accordionpane name="accordionpane2">
                    <wm-accordionheader name="accordionheader2"></wm-accordionheader>
                    <wm-accordioncontent name="accordioncontent2">
                        <wm-chart type="Line" theme="Terrestrial" dataset="bind:Variables.staticVariable1.dataSet" xaxisdatakey="name" yaxisdatakey="name" name="chart2"></wm-chart>
                    </wm-accordioncontent>
                </wm-accordionpane>
            </wm-accordion>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar dataset="home,music,edit" name="mobile_tabbar1"></wm-mobile-tabbar>
</wm-page>